<div ng-controller="BudgetController as budgetCtrl">
	<table ng-repeat="budget in budgetCtrl.budgets">
		<tr>
			<th>{{budget.name}}</th>
			<th></th>
			<th>Per Pay Period</th>
			<th>Budget</th>
		</tr>
		<tr ng-repeat="item in budgetCtrl.budgetItems | where:{budgetId: budget.id}">
			<td>{{item.name}}</td>
			<td></td>
			<td>{{item.amount/2 | currency}}</td>
			<td>{{item.amount | currency}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><strong>Total:</strong></td>
			<td>{{budgetCtrl.total(budget.id) | currency}}</td>
		</tr>
	</table>

	<h3>Budgets</h3>
	<form ng-submit="budgetCtrl.saveBudget(budgetCtrl.newBudget)">
	<label>Name</label>
	<input type="text" ng-model="budgetCtrl.newBudget.name" ngRequired="true" />
	<label>Percent</label>
	<input type="number" step=".01" ng-model="budgetCtrl.newBudget.percent" ngRequired="true" />
	<input type="submit" value="Save Budget" />
	</form>

	<h3>Items</h3>
	<form ng-submit="budgetCtrl.saveBudgetItem(budgetCtrl.newBudgetItem)">
	<label>Name</label>
	<input type="text" ng-model="budgetCtrl.newBudgetItem.name" ngRequired="true" />
	<label>Amount</label>
	<input type="number" step=".01" ng-model="budgetCtrl.newBudgetItem.amount" ngRequired="true" />
	<label>Budget</label>
	<select ng-options="budget as budget.name for budget in budgetCtrl.budgets track by budget.id" ng-model="budgetCtrl.newBudgetItem.budget">
	<input type="submit" value="Save Item" />
	</form>
</div>