<ul>
  <li
    *ngFor="let budget of budgets">
    <ul>
      <li
        *ngFor="let budgetItem of budget.items">
        <span class="budget-item-name">{{budgetItem.name}}</span>
        <span class="budget-item-amount">{{budgetItem.amount}}</span>
      </li>
    </ul>
  </li>
</ul>