<div ng-controller="IncomeController as incomeCtrl">
	<h3>Income Sources</h3>
	<table>
		<tr>
			<th>Job</th>
			<th>Payrate</th>
			<th>Hours</th>
			<th>Gross Monthly</th>
			<th>Tax</th>
			<th>Net Monthly</th>
			<th>Bi-Weekly</th>
		</tr>
		<tr ng-repeat="income in incomeCtrl.incomes">
			<td>{{income.job}}</td>
			<td>{{income.payrate | currency}}</td>
			<td>{{income.hours | number}}</td>
			<td>{{income.gross | currency}}</td>
			<td>{{income.tax | number:2}}%</td>
			<td>{{income.net | currency}}</td>
			<td>{{income.biweekly | currency}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><strong>Totals:</strong></td>
			<td>{{incomeCtrl.total('gross') | currency}}</td>
			<td></td>
			<td>{{incomeCtrl.total('net') | currency}}</td>
			<td>{{incomeCtrl.total('biweekly') | currency}}</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><strong>Yearly Totals:</strong></td>
			<td>{{incomeCtrl.totalYearlyGross() | currency}}</td>
			<td></td>
			<td>{{incomeCtrl.totalYearlyNet() | currency}}</td>
			<td>{{incomeCtrl.total('biweekly') | currency}}</td>
		</tr>
	</table>

	<form ng-submit="incomeCtrl.saveIncome(incomeCtrl.newIncome)">
	<label>Job</label>
	<input type="text" ng-model="incomeCtrl.newIncome.job" ngRequired="true" />
	<label>Type</label>
	<select ng-options="incomeType as incomeType.name for incomeType in incomeCtrl.incomeTypes track by incomeType.id" ng-model="incomeCtrl.newIncome.incomeType"></select>
	<label>Weekly Payrate</label>
	<input type="number" step=".01" ng-model="incomeCtrl.newIncome.payrate" ngRequired="true" />
	<label>Weekly Hours</label>
	<input type="number" step="0.0001" ng-model="incomeCtrl.newIncome.hours" />
	<label>Taxes</label>
	<input type="number" step=".01" ng-model="incomeCtrl.newIncome.taxPercent" ngRequired="true" />
	<input type="submit" value="Save Income" />
	</form>

	<h3>Payrate Calculator</h3>
	<form ng-submit="incomeCtrl.calculatePayrate(incomeCtrl.payInfo)">
	<label>Wage Type</label>
	<select ng-options="incomeType as incomeType.name for incomeType in incomeCtrl.incomeTypes track by incomeType.id" ng-model="incomeCtrl.payInfo.incomeType"></select>
	<label>Wage</label>
	<input type="number" step=".01" ng-model="incomeCtrl.payInfo.wage" />
	<label>Weekly Hours*</label>
	<input type="number" step=".01" ng-model="incomeCtrl.payInfo.hours" />
	<input type="submit" value="Calculate Payrate" />
	</form>
	<p>
		<strong>Calculated Payrate: </strong>{{incomeCtrl.calculatedPayrate | currency}} <strong>Hours: </strong>{{incomeCtrl.calculatedHours}}
	</p>
</div>